## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
population = [i for i in range(0, 101)]
sample_list_1 = random.sample(population, 80)
print(sample_list_1)

[45, 8, 13, 61, 37, 23, 50, 39, 12, 18, 69, 1, 4, 86, 64, 10, 76, 52, 31, 40, 87, 34, 0, 9, 27, 28, 41, 3, 68, 22, 63, 21, 80, 89, 24, 57, 16, 25, 7, 84, 36, 56, 2, 70, 81, 53, 48, 82, 94, 6, 85, 79, 62, 78, 43, 99, 100, 90, 30, 11, 14, 77, 32, 88, 98, 58, 75, 38, 91, 74, 59, 96, 26, 60, 54, 72, 55, 17, 71, 19]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
while len(sample_list_2) < 80:
    x = (random.sample(population, 1))
    sample_list_2.append(x[0])
print(sample_list_2)

[33, 90, 72, 37, 91, 66, 79, 90, 84, 67, 93, 1, 27, 76, 97, 70, 52, 51, 5, 91, 61, 29, 12, 88, 64, 71, 69, 7, 72, 80, 91, 44, 44, 43, 69, 36, 66, 30, 60, 5, 62, 32, 55, 3, 96, 76, 85, 94, 26, 45, 12, 37, 59, 80, 49, 0, 13, 11, 53, 42, 23, 45, 20, 28, 27, 91, 85, 39, 65, 23, 24, 97, 94, 32, 59, 79, 37, 47, 20, 88]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

#It is not 80 b/c it only took the unique values.

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(set3)

{2, 4, 6, 8, 9, 10, 14, 16, 17, 18, 19, 21, 22, 25, 31, 34, 38, 40, 41, 48, 50, 54, 56, 57, 58, 63, 68, 74, 75, 77, 78, 81, 82, 86, 87, 89, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print(set4)

{33, 65, 66, 67, 5, 97, 42, 44, 47, 49, 51, 20, 93, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 3, 7, 11, 12, 13, 23, 24, 26, 27, 28, 30, 32, 36, 37, 39, 43, 45, 52, 53, 55, 59, 60, 61, 62, 64, 69, 70, 71, 72, 76, 79, 80, 84, 85, 88, 90, 91, 94, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [18]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#no entiendo esta pregunta XD

80
55
39
14
41
25

#### Create an empty set called `set6`.

In [20]:
# Your code here
set6 = set([])

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 36, 37, 38, 39, 40, 41, 43, 45, 48, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 94, 96, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [22]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here